/* general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80%;
  margin: auto;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;

  a {
    background-color: #eeeeee63;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: #696767;
  }

  .active {
    color: black;
    scale: 1.4;
    font-size: bold;
  }
}

/* tasklist */
.grid {
  display: grid;
  grid-template-columns: 45% 15% 40%;
  gap: 15px;

  a {
    text-decoration: none;
    color: black;
  }

  &.head {
    background-color: #eeeeee63;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: large;
  }

  > * {
    display: flex;
    padding: 0 10px;
    align-items: center;
    border-radius: 20px;

    &:not(:first-child) {
      justify-content: center;
      text-align: center;
    }
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.red,
.yellow,
.green {
  border-radius: 20px;
  /* padding: 5px; */
  /* font-size: small; */
}

.red {
  background-color: rgb(240, 128, 128);
}

.yellow {
  background-color: rgba(255, 255, 0, 0.653);
}

.green {
  background-color: lightgreen;
}

/* add task */
.newtask {
  background-color: #eeeeee63;
  border-radius: 20px;
  width: min-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 20px;

  label > :first-child {
    margin-bottom: 5px;
  }

  .error {
    color: red;
    font-size: x-small;
  }

  p {
    margin-top: 10px;
  }
}

/* detail page */
.container.detail {
  > div > :first-child {
    background-color: #eeeeee63;
    padding: 15px;
  }

  > div > :not(first-child) {
    padding: 15px;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .red,
  .yellow,
  .green {
    padding: 5px 10px;
  }
}
